data:
  categorical_features:
  - checking_status
  - credit_history
  - purpose
  - savings_status
  - employment
  - personal_status
  - other_parties
  - property_magnitude
  - other_payment_plans
  - housing
  - job
  - own_telephone
  - foreign_worker
  numerical_features:
  - duration
  - credit_amount
  - age
  - installment_commitment
  - residence_since
  - existing_credits
  - num_dependents
  target_column: default
  validation:
    drift_threshold_psi: 0.2
    outlier_threshold_iqr: 1.5
    missing_values_strategy: "impute"
model:
  paths:
    encoder: models/processed/encoder.pkl
    scaler: models/processed/scaler.pkl
